body{
  background-color:#ffff80;
  font-family: pocket_monkregular;
}
@font-face {
  font-family: 'pocket_monkregular';
  src: url('../public/Pokemon-font/pocketmonk-15ze-webfont.woff2') format('woff2'),
       url("../public/Pokemon-font/pocketmonk-15ze-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.pokedexDiv{
  font-size: 27px;
  display: flex;
  align-items: center;
}

p.detailsPage{
  padding-top: 10px;
  display: block;
}
.detailsPage{
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 40px;
}

a{
  text-decoration: none;
  color: #000000;
}

.Header{
  padding: 20px;
}